<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/variables.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="menu-tab">
            <button class="tab selected" id="home"><img src="../assets/home_1024.png"></button>
            <button class="tab unselected"><img src="../assets/library_1024.png"></button>
            <button class="tab unselected"><img src="../assets/news_1024.png"></button>
            <button class="tab unselected" id="settings"><img src="../assets/settings_1024.png"></button>
            <div style="display: flex; -webkit-app-region: drag; width: 60%;"></div>
            <ul class="navbars">
                <button class="navbutton" id="minimize"><img src="../assets/minimize_1024.png"></button>
                <button class="navbutton" id="maximize"><img src="../assets/maximize_1024.png" id="img-toggle"></button>
                <button class="navbutton" id="close"><img src="../assets/close_1024.png"></button>
            </ul>
        </div>
        <div class="container">
            <div id="home" class="tabcontent">
                <div class="home">
                    <h1>Welcome back!</h1>
                    <div id="game-list"></div>
                    <div class="modal" id="add-game">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="close">&times;</span>
                                <h2>Add game</h2>
                            </div>
                            <div class="modal-body">
                                <form id="add-game-form">
                                    <label for="game-name">Game name</label>
                                    <br>
                                    <input type="text" id="game-name" name="game-name" placeholder="Enter game name">
                                    <br>
                                    <label for="game-id">Game ID</label>
                                    <br>
                                    <input type="text" id="game-id" name="game-id" placeholder="Enter game ID">
                                    <br>
                                    <label for="game-platform">Binary directory</label>
                                    <br>
                                    <input type="text" id="binary-location" name="binary-location" placeholder="Enter binary location like ~/hl2_linux">
                                    <br>
                                    <label for="game-args">Game arguments</label>
                                    <br>
                                    <input type="text" id="game-args" name="game-args" placeholder="Enter game arguments like -game tf2">
                                    <br>
                                    <label for="game-image">Icon Image</label>
                                    <br>
                                    <input type="text" id="game-image" name="game-image" placeholder="">
                                    <br>
                                    <button type="submit" class="button" id="add-game-button">Add game</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../script/main.js"></script>
    </body>
</html>